# ignore
*.mpf
*.qpf
*.qsf
*.mti
*.wlf
*.qdb
*.qpg
*.qtl
*.pdf
*.bin
*.csv
*.bak
*.do
*.qws
*.vstf
*.zip
*.lst
*.o
*.axf
*.objdump
*.amp
*.srec
db/
incremental_db/
output_files/
simulation/
work/

# don't ignore
!*.v
!*.sv
!.gitignore
